<!-- <nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="#">
<!-- <img alt="Brand" src="images/jeneetaylor.png"> -->
<!-- </a>
</div>
</div>
</nav> -->


<div class="jumbotron">
  <div class="container">
    <h1 id="name">JENÈE TAYLOR</h1>
  </div>

</div>



<button class="accordion">FULL STACK WEB DEVELOPER</button>

<div class="panel">
  <div class="devicons">

    <i class="devicon-html5-plain-wordmark"></i><i class="devicon-css3-plain-wordmark"></i><i class="devicon-javascript-plain"></i>
    <i class="devicon-ruby-plain-wordmark"></i><i class="devicon-jquery-plain-wordmark"></i><i class="devicon-rails-plain-wordmark"></i>
    <i class="devicon-git-plain-wordmark"></i><i class="devicon-python-plain-wordmark"></i>
  </div>
  <p  class='forever'>
    Forever Expanding
  </p>
</div>

<button class="accordion">RECENT PROJECTS</button>
<div class="panel">
  <div class="projectdiv">

    <div class="me2">
      <a target="_blank" href="http://www.myme2.co/" id="me2">#Me2</a>
    </div>
    <div class="codecult">
      <a target="_blank" href="https://github.com/cronwel/codenculture" id="codecult">Code//Cult</a>
    </div>

    <div class="fabienneb">
      <a target="_blank" href="#" id="fabienneb">Fabienne B.</a>
    </div>

    <div class="develdev">
      <a target="_blank" href"#" id="develdev">DevelDev</a>
    </div>


    <div class="hollyhood">
      <a target="_blank" href="#" id="hollyhood">HollyHood.life</a>
    </div>

    <div class="juliemansfield">
      <a target="_blank" href="#" id="juliemansfield">Julie Mansfield</a>
    </div>

  </div>
</div>


<button class="accordion">BIO</button>

      <div class="panel">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <p class='biotext'>Jenèe is an inventor by nature. A recent graduate of Wyncode Academy, she is armed with the necessary tools and passion for learning
                that are needed in today's every-changing technological industry. She is deeply interested in Robotics, Artificial Intelligence, and Virtual Reality.
                Jenèe plans on continuing to harness and sharpen her coding super power, so that she can help create the new world of tomorrow!
                <br>
                In her spare time, Jenèe enjoys shooting pool, writing music, and travelling.
              </p>
            </div>

          </div>


        <div class="col-md-6 col-md-offset-6">
          <div class='biopic'>
            <img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/14502916_10154119110468918_6632611253511962199_n.jpg?oh=7ae97d5cc369e3f47646a5050ca4bbf7&oe=58F96771" id="bioedit" alt="">
          </div>

        </div>

      </div>
    </div>

<button class="accordion">CONTACT</button>
<div class="panel" id="centercontact">
  <div class="hireme">
    <button type="button" id='hireme' class='btn btn-sucess btn-lg'>Hire Me!</button>
    </div>
  <p class='contactname'>Jenèe Taylor Washington</p>


  <div class="contacticons">
    <a href="tel:305-305-6306" id="phone"><i class="fa fa-phone" aria-hidden="true"></i></a>
    <a href="mailto:jeneewashington@icloud.com" id="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    <a target="_blank" href='https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button'><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a target="_blank" href='https://github.com/NeyNey305'><i class="fa fa-github" aria-hidden="true"></i></a>
    <a target="_blank" href='https://twitter.com/Jenee305'><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </div>

</div>


<script type="text/javascript">
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function(){
    this.classList.toggle("active");
    this.nextElementSibling.classList.toggle("show");
  }
}

</script>
