
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="first-name">
        <h1 id="name">JENEE TAYLOR</h1>
      </div>
    </div>
  </div>
</div>

<div class="skinny-border">
</div>

<button class="accordion">Full Stack Web Developer</button>
<div class="panel">
  <div class="container">

    <div class="row">
      <div class="col-md-12 col-md-offset-2">
        <ul id="devicons">
          <li><i class="devicon-css3-plain-wordmark"></i></li>
          <li><i class="devicon-html5-plain-wordmark"></i></li>
          <li><i class="devicon-javascript-plain"></i></li>
          <li><i class="devicon-ruby-plain-wordmark"></i></li>
          <li><i class="devicon-jquery-plain-wordmark"></i></li>
          <li><i class="devicon-rails-plain-wordmark"></i></li>
          <li><i class="devicon-git-plain-wordmark"></i></li>
          <li><i class="devicon-python-plain-wordmark"></i></li>
          <li><i class="devicon-php-plain"></i></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="forever">Forever Expanding...</p>
      </div>
    </div>
  </div>
</div>

<!-- RECENT PROJECTS -------------------------------->
<button class="accordion">Recent Projects</button>
<div class="panel">
  <div class="container">
    <div class="row" id="project-align">
      <div class="col-md-4" id="spindiv">
        <a href="#" class="me2">#Me2</a>
      </div>

      <div class="col-md-4" id="spindiv">
        <a href="#" class="crc">Caribbean Regenerative Center</a>
      </div>

      <div class="col-md-4" id="spindiv">
        <a href="#" class="develdev">DevelDev</a>
      </div>

      <!-- <div class="col-md-3">
        <a href="#"></a></a>
      </div> -->
    </div>
  </div>
</div>

<!-- BIO ------------------------------------------------------>
<button class="accordion">Bio</button>
<div class="panel">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <%= image_tag 'jwassh2.png', class: 'bio-pic' %>
      </div>

      <div class="col-md-6">
        <p class='bio-text'>Hi! My name is Jenee. I'm a Full Stack Web Developer living in Miami, Florida.</p>
          <hr>
        <p class='bio-text'>
        I'm a recent graduate of Wyncode Academy. Before transitioning to web development, I was working as a waitress in a cocktail bar - that much is true!
          Making the decision to learn how to code has been one of the best ones I've made thus far. I absolutely LOVE programming! I enjoy creating unique and user-friendly
          websites and web apps. I am constantly learning new programming technologies and
        </p>
      </div>
    </div>
  </div>
</div>

<!-- CONTACT  ----------------------------------------------------->
<button class="accordion">CONTACT</button>
<div class="panel" id="centercontact">
  <div class="hireme">
    <button type="button" id='hireme' class='btn btn-sucess btn-lg'>Hire Me!</button>
    </div>
  <p class='contactname'>Jenee Taylor Washington</p>


  <div class="contacticons">
    <a href="tel:305-305-6306" id="phone"><i class="fa fa-phone" aria-hidden="true"></i></a>
    <a href="mailto:jeneewashington@icloud.com" id="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    <a target="_blank" href='https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button'><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a target="_blank" href='https://github.com/NeyNey305'><i class="fa fa-github" aria-hidden="true"></i></a>
    <a target="_blank" href='https://twitter.com/Jenee305'><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </div>
</div>

<!-- FOOTER  ------------------------------------------------->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <p>&copy; 2017 Jenee Taylor Development</p>
          <p>Made with <i class="fa fa-heart" aria-hidden="true"></i></p>
      </div>
    </div>
  </div>
</footer>

<!-- JAVASCRIPT FOR ACCORDION MENU ----------------------------->

<script type="text/javascript">
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function(){
    this.classList.toggle("active");
    this.nextElementSibling.classList.toggle("show");
  }
}

</script>
